@charset 'UTF-8';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900);
@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header {
		position: fixed;
		z-index: 10000;
		left: 0;
		top: 0;
		width: 100%;
		background: #262623;
		height: 3em;
		line-height: 3em;
		box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
	}
	
	body {
		padding-top: 3em;
	}
        
        #logo {
		position: absolute;
		left: 0.5em;
		top: 0;
		line-height: 0em;
		letter-spacing: -1px;
	}
	
		#logo a {
			font-size: 0.70em;
                        text-decoration: none;
		}
	
	#nav {
		position: absolute;
		right: 0.5em;
		top: 0;
		height: 3em;
		line-height: 3em;
                text-align: center;
	}

		#nav ul {
			margin: 0;
                        text-align: center;
		}

			#nav ul li {
				display: inline-block;
				margin-left: 0.5em;
				font-size: 0.9em;
				color: #757574;
				text-decoration: none;
				padding: 0 0.5em 0 0.5em;
                                text-align: center;
				}

body
{
    background-image: url(member.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1.Title
{
    color: #FFF;
    background-color: #3D3D3D;
    text-align: center;
}
hr.Member
{
    background-color: #FFF;
}
ul.FilesList
{
    color: #FFF;
}
ul.FilesList:hover
{
    color: #3D3D3D;
}
input.LogOut
{
    background-color: #3D3D3D;
    color: #FFF;
    border: solid;
    border-color: #8C8C8C 
}
input.LogOut:hover
{
    background-color: #8C8C8C;
    color: #3D3D3D;
    border: solid;
    border-color: #3D3D3D
}
input.GoBack
{
    background-color: #3D3D3D;
    color: #FFF;
    border: solid;
    border-color: #8C8C8C
}
input.GoBack:hover
{
    background-color: #8C8C8C;
    color: #3D3D3D;
    border: solid;
    border-color: #3D3D3D

}
a.GoToFiles:link
{
    color: #FFF;
}
a.GoToFiles:visited
{
    color: #FFF;
}
p{
    color: #FFF;
}
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

		
	body.loading * {
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

	body,input,textarea,select {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		font-size: 15pt;
		line-height: 1.75em;
		color: #39454b;
		letter-spacing: 0.5px;
	}

	h1,h2,h3,h4,h5,h6 {
		font-weight: 900;
		color: inherit;
	}
	
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}
		
	h2 {
		font-size: 2.25em;
		letter-spacing: -2px;
		line-height: 1.25em;
	}
		
	strong, b {
		font-weight: 900;
		color: inherit;
	}
	
	em, i {
		font-style: italic;
	}

	a {
		color: #98c593;

		-moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}
	
	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}
		
	footer {
		margin-top: 2em;
	}

	br.clear {
		clear: both;
	}

/*********************************************************************************/
/* Touch Mode                                                                    */
/*********************************************************************************/

	body.touch {
	}
	
		body.touch .main {
			background-attachment: scroll !important;
		}
		
		body.touch .poptrox-popup {
		}

			body.touch .poptrox-popup .nav-next,
			body.touch .poptrox-popup .nav-previous,
			body.touch .poptrox-popup .closer {
				opacity: 1.0 !important;
			}

